.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.savings {
    margin-left: 10vw;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 30px;
    background: white;
    border-radius: 12px;
    min-width: 300px;
}

.modal-content input {
    width: 200px;
    padding: 10px 12px;

    background: white;
    color: #222;

    border: 1px solid #222;
    border-radius: 6px;

    font-size: 16px;
    text-align: center;
    outline: none;
}

.modal-content h3 {
    color: black;
}


.modal-buttons {
    display: flex;
    gap: 10px;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
}

.add-button {
    background-color: #28a745;
    color: white;
}

.savings-button {
    background-color: #fff4d6;
    color: brown;
}

.cancel-button,
.add-button {
    border: 1px solid #353535;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-button:hover,
.add-button:hover,
.savings-button:hover {
    opacity: 0.85;
}

.savings-button {
    border: 1px solid #353535;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}